# requirements.txt
stable-baselines3[extra]>=2.2.1
gymnasium[classic_control]>=0.29.1
pytest>=7.4.0
torch>=2.0.0 # Or specify cuda/cpu version if necessary
tensorboard>=2.13.0
# Add other dependencies like numpy if used directly